<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"page-template","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull page-template">

	<!-- wp:group {"className":"page-template__header","layout":{"type":"constrained"}} -->
	<div class="wp-block-group page-template__header">

		<!-- wp:post-title {"level":1,"className":"page-template__title"} /-->

	</div>
	<!-- /wp:group -->

	<!-- wp:post-featured-image {"align":"wide","className":"page-template__image"} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"},"className":"page-template__content"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->